.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background 0.5s ease;
  img {
    width: 32%;
  }

  &:hover {
    background: rgb(125, 176, 185);
  }
}

.song-description {
  padding-left: 1rem;

  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

.selected {
  background: #e7afc7;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
